/*********************************
               I D
*********************************/

#showQuestion {
  font-size: 2em;
  padding:15px 0;
}

.container{display:flex; flex-direction:column; justify-content:space-between; height:100%;}
/*********************************
      C O N T A I N E R S
*********************************/

body {
  margin: 0 auto;
  font-family: 'Quattrocento Sans', sans-serif;
  background: #EDEAD0;
  color: #333;

}

.nav {
  font-family: 'Oswald', sans-serif;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #FFCF56;
  height: 50px;

}

.primary {
  font-size: .75em;
  height: 190px;
}

.primary,
.secondary {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 15px auto;
}


/*********************************
          B U T T O N S
*********************************/

button:focus,
button:active,
button:focus:active,
input:focus {
  background-image: none;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

button {
  width: 200px;
  height: 35px;
  margin: 3px;
  font-family: 'Quattrocento Sans', sans-serif;
  border: none;
  font-size: 1.3em;
  color: white;
}

h1,
h2,
button,
i {
  cursor: pointer;
}

.refresh {
  border: solid 2px #fd2750;
  color: #fd2750;
  background: inherit;
}

.continue {
  border: solid 2px #3AB795; 
  color:  #3AB795;
  background: inherit;
}

.pair {
  border: solid 2px #f68d42;
  color: #f68d42;
  background: inherit;
}

.contribute{
   border:solid 2px #333; color: #333; background:inherit;
}

.contribute:hover{background:#333; color:white;}
.refresh:hover{background: #fd2750; color:white;}
.pair:hover{background:#f68d42; color:white;}
.continue:hover{background:#3AB795; color:white;}


/******************************

******************************/

ul {
  background: rgba(250, 250, 250, .3);
  list-style-type: none;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  padding: 15px;
  margin: 5px auto;
  border: solid 1px #3AB795;
}

li {
  color: #777;
  padding: 3px;
}

li i {
  color: #3AB795;
}


i.ion-close-circled, i.ion-help-circled {
  font-size: 1.75em;
  bottom: 0;
  right: 0;
  margin: 15px;
  position:absolute;
}


.butwhy {
  position: absolute;
  bottom: 0;
  padding: 25px 40px 25px 15px;
}

.hidden {
  visibility: hidden;
}


/*********************************
     M E D I A  Q U E R Y
*********************************/

@media (max-width: 500px) {
  h1 {
    display: none;
  }
  .hidden {
    visibility: visible;
  }
 
  h1,
  .primary,
  .secondary,
  #showQuestion {
    margin: 0 auto;
  }
  
  .secondary{z-index:0;}

  #showQuestion{font-size:1.25em;}
}